<div class="box">
	<div class="welcome">
		<h1>welcome To Heros Site</h1>

		<a href="/groups" class="btn btn-primary">View Current Squads</a>
		<a href="/heros" class="btn btn-danger">Get All Heros</a>
	</div>
</div>