<!DOCTYPE html>
<html>
	<head>
		<title>Heros App</title>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
		<link rel="stylesheet" type="text/css" href="/styles/styles.css">
	</head>
	<body>

		<div class="container">

			<div class="box-nav">
				<ul class="mynav">
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/groups">All Squads</a>
					</li>
					<li>
						<a href="/groups/add-group">Add Squad</a>
					</li>
					<li>
						<a href="/heros">All Heros</a>
					</li>
				</ul>
			</div>

			#parse($view)

		</div>

	</body>
</html>